.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--box-color);
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-wrap: nowrap;
    gap: inherit;
  }
}

.contacts-container__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: auto;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
  }
}

.contacts-left-col {
  text-align: center;
  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
    text-align: left;
  }
}

.logo--dark {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: var(--white-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.contacts-list__item {
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.contacts-list__item {
  &:not(:first-child) {
    margin-top: 9px;
  }
}

.contacts-list__link {
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
}

.link--address {
  color: var(--white-color);
}

.link--address {
  &:visited {
    color: var(--white-color);
  }
}

.link--email,
.link--number {
  color: var(--transparent-grey-color);

  transition-property: color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link--email {
  &:hover,
  &:focus {
    color: var(--main-color);
  }
}

.link--number {
  &:hover,
  &:focus {
    color: var(--main-color);
  }
}

.contacts-social-list__title,
.contacts-form__title {
  margin-bottom: 20px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.contacts-social-list__link + .contacts-social-list__link {
  margin-left: 10px;
}

.contacts-social-list__link {
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: var(--transparent-grey-second-color);
}

.contacts-social-list__link {
  &:visited {
    color: var(--white-color);
  }
}

.contacts-social-list__link {
  &:hover,
  &:focus {
    background-color: var(--main-color);
    color: var(--white-color);
  }
}

.contacts-right-col {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.contacts-third-col {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: 0;
    width: 570px;
    text-align: left;
  }
}

.contacts-form .input-btn-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
  }
}

.contacts-form__email-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border: var(--footer-input-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 2;
    margin-right: 12px;
    margin-bottom: 0;
    width: auto;
  }
}

.contacts-form__email-input {
  &:focus {
    outline: none;
    border-color: var(--main-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.3;
    color: var(--transparent-grey-color);
  }
}

.contacts-form__submit-btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.contacts-form__send-icon {
  margin-left: 10px;
  fill: var(--white-color);
}
