.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features-list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.features-list__item {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features-list__icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--secondary-color);
}

.features-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: inherit;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features-list__descr {
  color: var(--secondary-text-color);
  line-height: 1.7;
}
