body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

button {
  cursor: pointer;
  color: var(--white-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--main-color);
  border-radius: 4px;
  border: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  &:visited {
    color: inherit;
  }
}

.nav-links__link {
  &.active {
    position: relative;
    color: var(--main-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
}

.features-list,
.work-list,
.team-list,
.social-media-list,
.clients-list,
.contacts-social-div {
  display: flex;
}

.work,
.team,
.portfolio,
.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work__title,
.team__title,
.clients__title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-style: 28px;
  line-height: 1.2;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
