:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #2196f3;
  --secondary-color: #f5f4fa;
  --box-color: #2f303a;
  --header-stroke: 1px solid #ececec;
  --card-border: 1px solid #eeeeee;
  --footer-input-border: 1px solid rgba(255, 255, 255, 0.3);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-input-border: 1px solid rgba(33, 33, 33, 0.2);
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --team-social-media: #afb1b8;
  --white-color: #ffffff;
  --black-color: #000000;
  --pr-text-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --img-text-bg-color: rgba(47, 48, 58, 0.8);
  --transparent-grey-color: rgba(255, 255, 255, 0.6);
  --transparent-grey-second-color: rgba(255, 255, 255, 0.1);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-submit-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --img-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --pfoject-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
